.imageContainer {
  position: relative;
  min-width: 300px;
  height: 560px;
  margin-top: 60px;
  margin-left: 20px;
}

.championBorder {
  position: absolute;
  max-width: 353px;
  height: 630px;
  top: -50px;
  left: -24px;
}

.championLoading {
  position: absolute;
  max-width: 295px;
  height: 552px;
}

.championName {
  color: #fff;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.buttonImageNext {
  z-index: 10;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: -15%;
  transform: translateY(50%);
  font-size: 50px;
  color: #606e83;
  background: transparent;
  border: none;
}

.buttonImageNext:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(2px, 25px);
}

.buttonImagePrev {
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: -15.5%;
  transform: translateY(50%);
  font-size: 50px;
  color: #606e83;
  background: transparent;
  border: none;
}

.buttonImagePrev:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(-2px, 25px);
}

.buttonImageNext,
.buttonImagePrev:hover {
  cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1334.cur), auto !important;
}
