.modalContainer {
  position: relative;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px 2px #635c68;
  overflow-y: auto;
  max-height: 900px;
  max-width: 1024px;
  outline: none;
  margin: 0 10px;
  z-index: 2000;
  color: #fff;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 100%;
  background-color: #7a6b83;
}

.modalHeader {
  background-color: #755c83;
  margin-bottom: 10px;
  padding: 10px 0px;
  color: #fff;
}

.modalSplashImage {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0px auto;
  padding: 0 10px;
}

.modalDetails {
  padding: 10px 10px;

  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.spellHeader {
  margin-bottom: 10px;
}

.spellContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spellImageContainer {
  position: relative;
}

.spellImage {
  margin-right: 5px;
  width: 65px;
  height: auto;
}

.spellKey {
  position: absolute;
  right: 5px;
  bottom: 3px;
  font-size: 12px;
  letter-spacing: -0.5px;
  padding: 3px 7px 3px 7px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  color: #fff;
}

.buttonImageNext {
  position: absolute;
  z-index: 1;
  bottom: 63%;
  right: 1%;
  transform: translateY(50%);
  font-size: 50px;
  color: #fff;
  background: transparent;
  border: none;
}

.buttonImageNext:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(2px, 25px);
}

.buttonImagePrev {
  position: absolute;
  z-index: 1;
  bottom: 63%;
  left: 1%;
  transform: translateY(50%);
  font-size: 50px;
  color: #fff;
  background: transparent;
  border: none;
}

.buttonImagePrev:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(-2px, 25px);
}

.buttonImageNext:hover,
.buttonImagePrev:hover {
  cursor: pointer;
}
.modalFooter {
  background-color: #755c83;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
}

.closeBtn {
  font-weight: bold;
  background-color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.closeBtn:focus {
  outline: none;
}

.closeBtn:hover {
  background-color: #ddd;
  cursor: pointer;
}

.moreInfoBtn {
  color: black;
  font-weight: bold;
  background-color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.moreInfoBtn:focus {
  outline: none;
}

.moreInfoBtn:hover {
  background-color: #ddd;
  cursor: pointer;
}
