.dropdown-menu {
  width: 170px;
  position: absolute;
  top: 60px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #3a3c3d;
}

.dropdown-menu li:hover {
  background: #a1a3a5;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  text-align: start;
}
