.dropdownMenu {
  width: 170px;
  position: absolute;
  top: 60px;
  list-style: none;
  text-align: start;
  z-index: 500;
}

.dropdownMenu li {
  background: #7a6b83;
}

.dropdownMenu li:hover {
  background: #755c83;
}

.dropdownMenu.clicked {
  display: none;
}

.dropdownLink {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 16px;
  text-align: start;
}
