.footerContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #e1e1e1;
  font-size: 9px;
  margin: 20px auto;
  width: 1200px;
}

.footer {
  width: 50%;
  margin: 0 auto;
}
