.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectContainerSelect {
  border: none;
  outline: none;
  background-color: rgb(43, 34, 58);
  padding: 9px 10px;
  border-radius: 5px;
  color: #e1e1e1;
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  opacity: 0.7;
}

.selectContainerSelect:hover {
  cursor: pointer;
  background-color: #54425f;
  opacity: 1;
  border: none;
  outline: none;
}

.selectContainerSelectDisabled {
  border: none;
  outline: none;
  background-color: rgb(43, 34, 58);
  padding: 11px 10px;
  border-radius: 5px;
  color: #e1e1e1;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  opacity: 0.7;
}

.selectContainerSelectDisabled:hover {
  cursor: not-allowed;
  background-color: #54425f;
  opacity: 1;
  border: none;
  outline: none;
}
.input[type='text'] {
  font-size: 14px;
  font-weight: bold;
}

.searchIcon {
  color: #e1e1e1;
  font-size: 21px;
  font-weight: bold;
  margin-left: -35px;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  right: 10px;
}

.searchIcon:hover {
  cursor: pointer;
}
