.notInGame {
  color: #fff;
  background-color: #755c83;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 15px;
}

.liveContainer {
  width: 1200px;
  color: #fff;
}

.timerQueueContainer {
  display: flex;
  justify-content: flex-end;
  margin: -15px 0px 15px 0px;
}

.timerQueueContainerBorder {
  display: flex;
  background-color: #755c83;
  border-radius: 8px;
  padding: 5px 12px;
}

.queue {
  margin-right: 5px;
}

.allyBannedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.enemyBannedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.champImageBanned {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgb(45, 81, 121);
  margin-right: 5px;
  filter: grayscale(1);
}

.ally {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}

.allyTeam {
  color: rgb(63, 112, 168);
  margin-bottom: 10px;
  font-weight: 700;
}

.enemy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}

.enemyTeam {
  color: rgb(211, 81, 81);
  margin: 25px 0px 10px 0px;
  font-weight: 700;
}

.banContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allyBans {
  color: rgb(60, 106, 160);
  font-weight: 700;
}

.enemyBans {
  color: rgb(192, 71, 71);
  font-weight: 700;
}

.banContainer span {
  margin-right: 5px;
}

.champImageRuneSpellNameContainerAlly {
  display: flex;
  background-image: linear-gradient(
    90deg,
    rgba(1, 39, 97, 0.3) 0%,
    #7a6b83 75%
  );
  border-radius: 8px;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 15px;
}

.champImageRuneSpellNameContainerEnemy {
  display: flex;
  background-image: linear-gradient(
    90deg,
    rgba(140, 0, 0, 0.3) 0%,
    #7a6b83 75%
  );
  border-radius: 8px;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 15px;
}

.champImageRuneSpellContainerAlly {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.champImageRuneSpellContainerEnemy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.champImageAlly {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgb(60, 106, 160);
  margin-right: 5px;
}

.champImageEnemy {
  width: 50px;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgb(192, 71, 71);
  margin-right: 5px;
}

.runeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.runeImage {
  width: 22px;
  height: auto;
  margin-right: 5px;
}

.spellContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spellimage {
  width: 20px;
  height: auto;
  border-radius: 5px;
}

.summonerName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  margin-right: 8px;
  min-width: 150px;
}

.profileIcon {
  width: 35px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 3px;
}
