.masteryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 350px;
  margin: 15px 0px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  background-color: #7a6b83;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  border-radius: 12px;
}

.masteryHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #755c83;
  width: 100%;
  padding: 10px 0px;
}

.championHeader,
.levelHeader,
.pointsHeader {
  text-align: center;
}

.championHeader {
}

.levelHeader {
}

.pointsHeader {
  margin-right: 15px;
}

.masteryCard li {
  list-style-type: none;
  width: 100%;
}

.masteryCard li:nth-child(even) {
  background-color: #755c83;
  width: 100%;
}

.masteryRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

.champImgContainer {
  min-width: 30px;
}

.champLvlContainer,
.name,
.points {
  min-width: 80px;
}

.masteryFrame {
  width: 35px;
  height: auto;
}

.championImage {
  width: 35px;
  height: auto;
  border-radius: 50%;
}

.name {
}

.points {
}

.level {
  letter-spacing: 0.4px;
}
