.masteryCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.masteryFrame {
  width: 75px;
  height: auto;
}

.championImage {
  width: 25px;
  height: auto;
  position: absolute;
  border-radius: 50%;
  border: solid 4px #f0d287;
  bottom: 39%;
}

.name {
  position: absolute;
  display: flex;
  flex-direction: initial;
  width: 60%;
  align-items: center;
  top: 3%;
  letter-spacing: 1px;
}

.points {
  position: absolute;
  display: flex;
  flex-direction: initial;
  width: 60%;
  align-items: center;
  top: 13%;
  letter-spacing: 0.4px;
}

.level {
  position: absolute;
  display: flex;
  flex-direction: initial;
  width: 60%;
  align-items: center;
  top: 23%;
  letter-spacing: 0.4px;
}
