.matchContainer {
  color: #fff;
  width: 835px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 600;
  border-collapse: separate;
  border-radius: 8px;
  margin-bottom: 100px;
}

.matchContainer h1 {
  text-align: center;
  font-size: 32px;
}

.cardContainerWin {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: initial;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(1, 97, 28, 0.3) 0%,
    #7a6b83 45%
  );
  border-radius: 8px;
  margin: 7px 0;
  padding: 5px;
}

.cardContainerLose {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: initial;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(140, 0, 0, 0.3) 0%,
    #7a6b83 45%
  );

  border-radius: 8px;
  margin: 7px 0;
  padding: 5px;
}

.firstCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
}

.firstCard p {
  margin: 0;
  min-width: 110px;
}

.gameDuration {
  color: #2c70be;
  font-size: 16px;
  font-weight: 900;
}

.win {
  color: rgb(82, 179, 82);
}

.loss {
  color: rgb(196, 92, 92);
}

.secondCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  min-width: 137px;
}

.championName {
  color: #2c70be;
  font-size: 20px;
}
.imageContainer {
  display: flex;
  padding-top: 6px;
  align-items: center;
}

.championImg {
  display: inline-block;
  margin-bottom: 0;
}

.championImage {
  border-radius: 8px;
  width: 50px;
  height: auto;
}

.summonerSpellContainer {
  display: flex;
  flex-direction: column;
}

.summonerSpell {
  width: 30px;
  height: auto;
  margin-left: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
}

.summonerSpell2 {
  width: 30px;
  height: auto;
  margin-left: 4px;
  border-radius: 3px;
}

.championName {
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
  min-width: 80px;
}

.thirdCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
  min-width: 90px;
}

.killDeathAssists {
  font-weight: 600;
  color: #2c70be;
  font-size: 18px;
}

.kdaRatio {
  font-weight: 600;
}

.fourthCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
  min-width: 50px;
}

.minions {
  color: #eda746;
}

.fifthCard {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.sixthCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  max-width: 100;
  margin-right: 3px;
  font-weight: 500;
}

.sixthCard img {
  width: 20px;
  height: auto;
  margin: 1px 3px 1px 1px;
}

.sixthCard img:hover {
  cursor: pointer;
}

.sixthCard span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
  max-height: 20px;
}

.sixthCard span:hover {
  cursor: pointer;
  color: #e6ded0;
}

.seventhCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  max-width: 100;
  font-weight: 500;
}

.seventhCard img {
  width: 20px;
  height: auto;
  margin: 1px 3px 1px 1px;
}

.seventhCard img:hover {
  cursor: pointer;
}

.seventhCard span {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
  max-height: 20px;
}

.seventhCard span:hover {
  cursor: pointer;
  color: #e6ded0;
}

.summonerName {
  color: #3581d8;
}

.col {
  display: flex;
  justify-content: initial;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
}

.moreMatchesBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 7px 10px;
  background-color: #7a6b83;
  margin: 5px auto 5px auto;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.none {
  color: rgb(196, 92, 92);

  padding: 7px 0px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #7a6b83;
  width: 60%;
  margin: 0 auto;
  border-radius: 3px;
}

.none:hover {
  cursor: no-drop;
}

.moreMatchesBtn:hover {
  cursor: pointer;
  background-color: #836894;
}
