.matchContainer {
  color: black;
  font-weight: bold;
  width: 900px;
  height: 900px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.matchContainer h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 0;
}

.cardContainerWin {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  background-color: #c3e598;
  border-radius: 8px;
  margin: 3px 0;
}

.cardContainerLose {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  background-color: #e2b6b3;
  border-radius: 8px;
  margin: 3px 0;
}

.firstCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 7px;
}

.firstCard p {
  margin: 0;
}

.win {
  color: green;
}

.loss {
  color: red;
}

.secondCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.imageContainer {
  display: flex;
  padding-top: 6px;
  align-items: center;
}

.championImg {
  display: inline-block;
  margin-bottom: 0;
}

.championImage {
  border-radius: 8px;
  border: solid 2px #f0d287;
  width: 50px;
  height: auto;
}

.summonerSpellContainer {
  display: flex;
  flex-direction: column;
}

.summonerSpell {
  width: 30px;
  height: auto;
  margin-left: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
}

.summonerSpell2 {
  width: 30px;
  height: auto;
  margin-left: 4px;
  border-radius: 3px;
}

.championName {
  text-align: center;
  margin-top: -3px;
}

.thirdCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 7px;
}

.fourthCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 7px;
}

.fifthCard {
  display: flex;
  flex-direction: column;
  margin-right: 7px;
}

.itemRow1 {
  display: flex;
  flex-direction: row;
}

.itemRow1 img {
  width: 30px;
  height: auto;
  margin-left: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
}

.itemRow2 {
  display: flex;
  flex-direction: row;
}

.itemRow2 img {
  width: 30px;
  height: auto;
  margin-left: 4px;
  margin-bottom: 4px;
  border-radius: 3px;
}

.sixthCard {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: -100px;
}

.sixthCard img {
  width: 20px;
  height: auto;
}

.sixthCard span {
  overflow: hidden;
  text-overflow: ellipsis;
}
