.navbar {
  background: #3a4556;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.navbarLogo {
  color: #fff;
  justify-self: start;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 95vw;
  justify-content: end;
}

.navItem {
  display: flex;
  align-items: center;
  height: 80px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 1rem 1rem;
}

.navLinks:hover {
  background-color: #3a3c3d;
  transition: all 0.2s ease-out;
}

.faBars {
  color: #fff;
}

.faCaretDown {
  margin-left: 5px;
}

.menuIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbars {
    align-items: center;
    display: flex;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    font-size: 2rem;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding: 0;
    margin: 0;
    z-index: 10;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
    font-size: 20px;
  }

  .nav-links:hover {
    background-color: #3a3c3d;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: -21px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -12px;
    right: -20px;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }

  .faTimes {
    color: #fff;
    font-size: 2rem;
  }

  .fa-caret-down {
    display: none;
  }
}
