.navbar {
  width: auto;
  min-width: 1200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 100;
  /* background: rgba(59, 43, 68, 0.85); */
  /* border-bottom: 1px solid #bfa1d1;
  box-shadow: 0 0 0px 1px #bfa1d1;
  position: fixed; */
}

.navHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 20px;
}

.navbarLogo {
  color: #fff;
  justify-self: start;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 95vw;
  justify-content: end;
}

.navItem {
  display: flex;
  align-items: center;
  height: 80px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 1rem 1rem;
  margin-right: 15px;
}

.navLinks:hover {
  background-color: #7a6b83;
  transition: all 0.2s ease-out;
}

.noLink:hover {
  cursor: default;
}

.faBars {
  color: #fff;
}

.faCaretDown {
  margin-left: 5px;
}

.menuIcon {
  display: none;
}
