.ul {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  list-style-type: none;
}

.li {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #606e83;
  margin-right: 10px;
  width: 30px;
  background-color: rgb(223, 217, 217);
  padding: 3px 3px;
  border-radius: 3px;
}

.color {
  background-color: rgba(0, 0, 0, 0.3);
}
