.singleCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10px;
  font-size: 16px;
}

.emblemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.emblemImage {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.rankInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank {
  color: #4797f1;
  font-size: 32px;
  font-weight: bold;
  margin-left: 7px;
}

.points {
  margin-left: 10px;
  color: #e1e1e1;
  font-size: 23px;
  font-weight: bold;
}

.queue {
  background-color: #7a6b83;
  padding: 8px 10px;
  border-radius: 5px;
  margin: 5px 0px;
  outline: none;
  border: none;
  color: #e1e1e1;
  font-size: 16px;
  font-weight: 600;
}

.queue:hover {
  cursor: pointer;
  background-color: #836894;
}

.ratio {
  background-color: #7a6b83;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 5px 10px;
  outline: none;
  border: none;
  color: #e1e1e1;
  font-size: 16px;
  font-weight: 600;
}
.record {
  color: #e1e1e1;
}

.win {
  color: #4ba71a;
  margin: 0px 5px;
}

.loss {
  color: #7e2b4a;
  margin-left: 5px;
}
