.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  height: auto;
  background-color: #323332;
  color: lightgrey;
  font-size: 11px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -50%;
  transform: translateX(15%);
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .info {
  min-width: 200px;
}

.name {
  color: #f0d287;
  margin-bottom: 5px;
}

.info {
  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    height: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
