.tooltip {
  font-size: 12px;
}

.name {
  text-align: center;
  font-size: 13px;
  color: #f0d287;
  margin-bottom: 5px;
}

.info {
  text-align: center;
  margin-bottom: 5px;
  min-width: 200px;
}

.moreInfo {
  text-align: center;
  color: #f0d287;
  margin-bottom: 5px;
}
