.singleCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
  font-size: 13px;
}

.emblemImage {
  width: 70px;
  height: auto;
}

.queue {
}

.rank {
}

.ratio {
}
