.singleCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
  font-size: 16px;
}

.emblemImage {
  width: 70px;
  height: auto;
}

.queue {
  background-color: #72617c;
  padding: 8px 8px;
  border-radius: 5px;
  margin: 5px 0px;
}

.rank {
}

.ratio {
}
