.champDetailContainer {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 43, 68, 0.85);
  color: #fff;
}

.overlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: linear-gradient(rgb(255 255 255 / 0%) 0%, rgb(88, 75, 96) 25%);
  z-index: 1;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 800px;
  grid-gap: 10px;
  margin: 20px auto;
}

.freeChampsImg {
  margin: 10px 10px;
  border-radius: 50%;
  border: solid 2px #f0d287;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tagSpan {
  margin-right: 4px;
}

.row1Col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #755c83;
  border-radius: 8px;
  padding: 10px;
}

.row1Col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #755c83;
  border-radius: 8px;
  padding: 12px 15px;
}

.row1 {
  margin-bottom: 10px;
}

.row1 h3,
.row2 h3 {
  margin-bottom: 5px;
}

.buildContainer {
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #755c83;
  border-radius: 8px;
  margin: 0px 0px 10px 0px;
  padding: 10px;
}

.buildHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.buildType {
  display: flex;
  flex-direction: row;
}

.itemContainer {
  margin: 10px 5px;
}

.grid2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Container {
  display: flex;
  width: 500px;
  height: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #755c83;
  border-radius: 8px;
  margin: 0px 0px 10px 10px;
  padding: 10px;
}

.spellContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spellImageContainer {
  margin: 10px 5px;
  position: relative;
}

.spellImageContainer:hover {
  cursor: pointer;
}

.passiveImageContainer {
  margin: 10px 5px;
  position: relative;
}

.spellKey {
  position: absolute;
  right: 2px;
  bottom: 7px;
  font-size: 12px;
  letter-spacing: -0.5px;
  padding: 3px 7px 3px 7px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  color: #fff;
  z-index: 10;
}
.skillVideo {
  width: 90%;
  height: auto;
}

.spellImage {
  width: 65px;
  height: auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.spellImageActive {
  border: 2px solid #f0d287;
}
