.fadeContainer {
  animation: fadeIn linear 500ms;
}

.grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 100px auto 10px auto;
  color: #e1e1e1;
  width: 1200px;
}

.freeChampsImg {
  margin: 10px 10px;
  border-radius: 50%;
  border: solid 2px #9865b6;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tagSpan {
  margin-right: 4px;
}

.firstCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfa1d1;
}

.row1Col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  margin: 0 50px 10px 0;
}

.name {
  color: #2c70be;
}

.infoContainer {
  display: flex;
  flex-direction: row;
}

.attack {
  color: rgb(196, 92, 92);
}

.defense {
  color: rgb(82, 179, 82);
}

.difficulty {
  color: #eda746;
}

.magic {
  color: #2c70be;
}

.loreContainer {
  color: #e2c0f7;
  font-size: 13px;
}

.row1Col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  border-radius: 8px;
  padding: 12px 15px;
  margin: 15px 0;
}

.row1Col2 h2 {
  color: #2c70be;
}

.row1 {
  margin-bottom: 10px;
}

.row1 h2,
.row2 h2 {
  margin-bottom: 5px;
}

.buildContainer {
  display: flex;
  width: 375px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7a6b83;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 50px 0px 0px;
}
.recBuild {
  padding: 15px 0px;
}

.noBuild {
  background-color: #755c83;
  width: 100%;
  font-size: 14px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  padding: 10px 0px;
}

.blocksContainer {
  width: 100%;
}

.type {
  background-color: #755c83;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 0px;
}

.buildType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7a6b83;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.itemContainer {
  margin: 10px 5px;
}

.itemContainer img {
  width: 50px;
  height: auto;
  border: solid 2px #e2c0f7;
}

.grid2 {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #e1e1e1;
  margin: 0 auto 20px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #bfa1d1;
}

.Container {
  display: flex;
  width: 500px;
  height: 475px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #7a6b83;
  border-radius: 8px;
  margin: 0px 0px 10px 10px;
}

.skillsHeader {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 0;
}

.Container .spellContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spellContainer {
  background-color: #755c83;
  width: 100%;
  margin-bottom: 15px;
  padding: 6px 0px 0px 0px;
}

.spellImageContainer {
  margin: 10px 5px;
  position: relative;
}

.spellImageContainer:hover {
  cursor: pointer;
}

.passiveImageContainer {
  margin: 10px 5px;
  position: relative;
}

.spellKey {
  position: absolute;
  right: 2px;
  bottom: 7px;
  font-size: 12px;
  letter-spacing: -0.5px;
  padding: 3px 7px 3px 7px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  color: #e1e1e1;
  z-index: 10;
}

.skillVideo {
  width: 90%;
  height: auto;
  animation: fadeIn linear 1000ms;
}

.spellImage {
  width: 50px;
  height: auto;
  border: 2px solid #e2c0f7;
}

.spellImageActive {
  border: solid 3px #8733b8;
}

.grid3 {
  color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1200px;
  outline: none;
  margin: 0px auto 100px auto;
}

.skins {
  text-align: center;
  color: #2c70be;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.splashHeader {
  background-color: #755c83;
  padding: 10px 12px;
  color: #e1e1e1;
  text-align: center;
  width: auto;
  border-radius: 5px;
  margin: 0 auto 15px auto;
}

.splashImage {
  width: 800px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0px auto 15px auto;
  padding: 0 10px;
}

.splashImageFade {
  width: 800px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0px auto 15px auto;
  padding: 0 10px;
  animation: fadeIn linear 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.buttonImageNext {
  position: absolute;
  z-index: 1;
  bottom: 53%;
  right: 17%;
  transform: translateY(50%);
  font-size: 50px;
  color: #e2c0f7;
  background: transparent;
  border: none;
}

.buttonImageNext:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(2px, 25px);
}

.buttonImagePrev {
  position: absolute;
  z-index: 1;
  bottom: 53%;
  left: 17%;
  transform: translateY(50%);
  font-size: 50px;
  color: #e2c0f7;
  background: transparent;
  border: none;
}

.buttonImagePrev:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(-2px, 25px);
}

.buttonImageNext:hover,
.buttonImagePrev:hover {
  cursor: pointer;
}

.notFound {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #e1e1e1;
  background-color: rgb(122, 107, 131, 0.6);
  height: 60px;
  width: 300px;
  border-radius: 5px;
  margin-top: 50px;
}
