.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  display: flex;
  color: grey;
  font-size: 30px;
  margin-left: -35px;
  margin-bottom: 14px;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer input {
  padding: 10px;
  width: 400px;
  border: 1px solid #b4b8be;
  font-weight: 500;
  color: #272d35;
  margin-bottom: 15px;
  border-radius: 3px;
}

.searchContainer input:focus {
  outline: none;
  border: 1px solid #b4b8be;
}

input[type='text'] {
  font-size: 18px;
  font-weight: bold;
}

.championList {
  text-align: center;
  color: #606e83;
  font-size: 50px;
  margin: 20px 0;
}

.imageContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  max-width: 1280px;
  color: #606e83;
}

.imageContainer img {
  margin: 10px 10px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: solid 2px #f0d287;
}

.imageContainer img:hover {
  cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1334.cur), auto !important;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.screenContainer {
  display: flex;
  direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.champName {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: -10px;
}
