.imageContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 800px;
  padding-right: 20px;
}

.championRotationHeader {
  color: #606e83;
  text-align: center;
  margin: 50px 0 -10px 0;
  font-size: 50px;
}

.imageContainer img {
  margin: 10px 10px;
  border-radius: 50%;
  border: solid 2px #f0d287;
}

.imageContainer img:hover {
  cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1334.cur), auto !important;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.champName {
  text-align: center;
  color: #606e83;
  font-weight: bold;
  margin-top: -10px;
}

.screenContainer {
  display: flex;
  direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.modalContainer {
  position: relative;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px 2px #e9e9e9;
  overflow-y: auto;
  max-height: 900px;
  max-width: 1024px;
  outline: none;
  margin: 0 10px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 100%;
  background-color: rgb(229, 226, 226);
}

.modalHeader {
  background-color: #3a4556;
  margin-bottom: 10px;
  padding: 10px 0px;
  color: #fff;
}

.modalSplashImage {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0px auto;
  padding: 0 10px;
}

.modalDetails {
  padding: 10px 10px;
  color: black;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.spellHeader {
  margin-bottom: 10px;
}

.spellImage {
  margin-right: 5px;
}

.buttonImageNext {
  position: absolute;
  z-index: 1;
  bottom: 63%;
  right: 1%;
  transform: translateY(50%);
  font-size: 50px;
  color: #fff;
  background: transparent;
  border: none;
}

.buttonImageNext:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(2px, 25px);
}

.buttonImagePrev {
  position: absolute;
  z-index: 1;
  bottom: 63%;
  left: 1%;
  transform: translateY(50%);
  font-size: 50px;
  color: #fff;
  background: transparent;
  border: none;
}

.buttonImagePrev:active {
  transition: transform 0.1s ease-in-out;
  transform: translate(-2px, 25px);
}

.modalFooter {
  background-color: #3a4556;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
}

.closeBtn {
  color: black;
  font-weight: bold;
  background-color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin-right: 10px;
}

.closeBtn:focus {
  outline: none;
}

.closeBtn:hover {
  background-color: #ddd;
}

@media (max-width: 1024px) {
  .modalContainer {
    width: 80%;
  }
  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 1%;
    transform: translateY(50%);
    font-size: 42px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 70%;
    right: 1%;
    transform: translateY(50%);
    font-size: 42px;
    color: #fff;
    background: transparent;
    border: none;
  }
}
@media (max-width: 960px) {
  .modalContainer {
    width: 80%;
  }
  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 1%;
    transform: translateY(50%);
    font-size: 42px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 70%;
    right: 1%;
    transform: translateY(50%);
    font-size: 42px;
    color: #fff;
    background: transparent;
    border: none;
  }
}

@media (max-width: 860px) {
  .modalContainer {
    width: 80%;
  }
  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 73%;
    left: 2%;
    transform: translateY(80%);
    font-size: 32px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 73%;
    right: 2%;
    transform: translateY(80%);
    font-size: 32px;
    color: #fff;
    background: transparent;
    border: none;
  }
}

@media (max-width: 610px) {
  .modalContainer {
    max-height: 700px;
    width: 80%;
  }

  .modalHeader {
    font-size: 22px;
  }
  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 77%;
    left: 3%;
    transform: translateY(120%);
    font-size: 22px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 77%;
    right: 3%;
    transform: translateY(120%);
    font-size: 22px;
    color: #fff;
    background: transparent;
    border: none;
  }
}

@media (max-width: 480px) {
  .modalContainer {
    max-height: 550px;
    width: 80%;
  }
  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 65%;
    left: 3%;
    transform: translateY(50%);
    font-size: 22px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 65%;
    right: 3%;
    transform: translateY(50%);
    font-size: 22px;
    color: #fff;
    background: transparent;
    border: none;
  }
}

@media (max-width: 420px) {
  .modalContainer {
    max-height: 550px;
    width: 80%;
  }
  .modalHeader {
    font-size: 18px;
  }
  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 77%;
    left: 3%;
    transform: translateY(120%);
    font-size: 22px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 77%;
    right: 3%;
    transform: translateY(120%);
    font-size: 22px;
    color: #fff;
    background: transparent;
    border: none;
  }
}

@media (max-width: 330px) {
  .modalContainer {
    max-height: 550px;
    width: 80%;
  }

  .modalHeader {
    font-size: 14px;
  }

  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 79%;
    left: 3%;
    transform: translateY(130%);
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 79%;
    right: 3%;
    transform: translateY(130%);
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: none;
  }
}

@media (max-width: 285px) {
  .modalContainer {
    max-height: 550px;
    width: 80%;
  }

  .modalHeader {
    font-size: 14px;
  }

  .buttonImagePrev {
    position: absolute;
    z-index: 1;
    bottom: 82%;
    left: 3%;
    transform: translateY(130%);
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: none;
  }

  .buttonImageNext {
    position: absolute;
    z-index: 1;
    bottom: 82%;
    right: 3%;
    transform: translateY(130%);
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: none;
  }
}
