.imageContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  max-width: 800px;
  padding-right: 20px;
}

.championRotationHeader {
  color: #606e83;
  text-align: center;
  margin: 50px 0 -10px 0;
  font-size: 50px;
}

.imageContainer img {
  margin: 10px 10px;
  border-radius: 50%;
  border: solid 2px #f0d287;
}

.imageContainer img:hover {
  cursor: url(https://cur.cursors-4u.net/games/gam-14/gam1334.cur), auto !important;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.champName {
  text-align: center;
  color: #606e83;
  font-weight: bold;
  margin-top: -10px;
}

.screenContainer {
  display: flex;
  direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.modalContent {
  display: flex;
  flex-direction: row;
}

.modalSplashImage {
  max-width: 75%;
  max-height: auto;
  margin-right: 10px;
}

.modalDetails {
  min-width: 25%;
  display: flex;
  flex-direction: column;
  right: 10px;
}
