.homeBackgroundContainer {
  background-image: url('https://wallpaperaccess.com/full/628546.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer h1 {
  color: white;
}

.homeContainer input {
  width: auto;
  padding: 10px;
  font-size: 32px;
  border-radius: 8px;
  border: none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.homeContainer input:focus {
  outline: none;
  border: none;
}

.imageContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  max-width: 800px;
}

.imageContainer img {
  margin: 10px 10px;
}
