.homeBackgroundContainer {
  background-image: url("https://wallpaperaccess.com/full/628546.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.homeContainer h1 {
  color: white;
}

.homeContainer input {
  padding: 20px;
  font-size: 32px;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.homeContainer input:focus {
  outline: none;
}
