.homeBackgroundContainer {
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 43, 68, 0.85);
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  z-index: 100;
}

input[type='text'] {
  font-size: 18px;
}

.homeContainer input {
  padding: 14px 15px;
  width: 550px;
  border: none;
  background-color: rgb(43, 34, 58);
  color: #fff;
  border-radius: 8px;
  z-index: 100;
  opacity: 0.7;
}

.homeContainer input:focus {
  outline: none;
  z-index: 100;
  opacity: 1;
}

.homeContainer input::placeholder {
  color: #fff;
  font-weight: normal;
  z-index: 100;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.searchIcon {
  display: flex;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-left: -35px;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 9px;

  width: 900px;

  margin: 15px auto;
}
/* @media (max-width: 400px) {
  .homeContainer input {
    padding: 10px;
    width: 300px;
    border: 1px solid #b4b8be;
    font-weight: 500;
    color: #272d35;
    margin-bottom: 15px;
    border-radius: 3px;
  }
} */
