/* .leaderboardOverlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: rgba(59, 43, 68, 0.85) 100%;
} */

.overlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: linear-gradient(rgb(59, 43, 68, 0.85) 0%, rgb(88, 75, 96) 5%);
  z-index: 1;
}

.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #fff;
}

.selectContainer select {
  border: none;
  outline: none;
  background-color: #7a6b83;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}
.selectContainer select:hover {
  cursor: pointer;
  background-color: #836894;
}

.selectContainer button {
  border: none;
  outline: none;
  background-color: #7a6b83;
  padding: 4px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-right: 15px;
}

.selectContainer button:hover {
  cursor: pointer;
  background-color: #836894;
}

.selectContainer p {
  background-color: #7a6b83;
  padding: 4px 15px;
  border-radius: 5px;
}

.tableContainer {
  margin: 10px auto;
  color: #fff;
  font-weight: 600;
}

.tbody {
  width: 100vw;
}

.leaderHeader {
  color: #fff;
  text-align: center;
  margin: 30px 0px;
  font-size: 50px;
}
.rowHeader {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #7a6b83;
  padding: 5px;
  margin: 0;
  border: none;
}

.row:nth-child(1) {
  background-color: #7a6b83;
  color: #fff;
  border: none;
}

.row:nth-child(even) {
  background-color: #755c83;
}

.row:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
}

.number {
  margin-right: -100px;
  margin-left: 15px;
}

.Tier {
  color: #3788e4;
}

.points {
  color: #e2c0f7;
}
.tdWinRatio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 200px;
  margin-left: -175px;
  margin-right: 15px;
}

.winRatio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winRatioHeader {
  left: -100px;
}

.wins {
  color: rgb(94, 204, 94);
}
.losses {
  color: rgb(219, 101, 101);
}

.winRatio span:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.profileIcon {
  width: 30px;
  height: auto;
  margin-right: 5px;
  border-radius: 50%;
}

@media (max-width: 960px) {
}
