/* .leaderboardOverlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: rgba(59, 43, 68, 0.85) 100%;
} */

.overlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: linear-gradient(rgb(59, 43, 68, 0.85) 0%, rgb(88, 75, 96) 25%);
  z-index: 1;
}

.tableContainer {
  margin: 10px auto;
}

.tbody {
  width: 100vw;
}

.leaderHeader {
  color: #606e83;
  text-align: center;
  margin: 30px 0px;
  font-size: 50px;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #e6e9ed;
  padding: 5px;
  margin: 0;
  border: 1px solid rgb(189, 182, 182);
  border-radius: 1px;
}

.row:nth-child(1) {
  background-color: #4a5566;
  color: #fff;
  border: 1px solid rgb(189, 182, 182);
}

.row:nth-child(even) {
  background-color: #f6f9fc;
}

.td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
}

.number {
  margin-right: -100px;
  margin-left: 15px;
}

.Tier {
  color: rgba(221, 173, 42, 0.918);
  font-weight: bold;
}

.tdWinRatio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 200px;
  margin-left: -175px;
  margin-right: 15px;
}

.winRatio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winRatioHeader {
  left: -100px;
}

.wins {
  color: #009852;
}
.losses {
  color: #980000;
}

.winRatio span:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 10px;
}

.profileIcon {
  width: 30px;
  height: auto;
  margin-right: 5px;
  border-radius: 50%;
}

@media (max-width: 960px) {
}
