.welcomeBackgroundContainer {
  background-image: url('https://cdna.artstation.com/p/assets/images/images/001/207/026/large/suke-5.jpg?1442210805');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeContainer h1 {
  color: white;
}

.summonerName {
  letter-spacing: 2px;
}
