/* .welcomeOverlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 43, 68, 0.85);
} */

.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  background: linear-gradient(rgb(59, 43, 68, 0.85) 0%, rgb(88, 75, 96) 25%);
  z-index: 1;
}

.rowContainer {
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 100;
  color: #fff;
  width: 1200px;
  margin: 0 auto;
}

.welcomeContainer h1 {
  margin: 15px 0;
}

.summonerName {
  letter-spacing: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  z-index: 100;
  padding: 0px 10px;
}

.emblemContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.row2 {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.linksContainer {
  color: #fff;
}

.linksContainer a {
  text-decoration: none;
  color: rgb(169, 158, 180);
  font-weight: 500;
}

.champions {
  margin-left: 15px;
}

.live {
  margin-left: 15px;
}

.row3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.rankCardContainer {
  display: flex;
}

/* @media (max-width: 1024px) {
  .welcomeContainer {
    flex-direction: column;
  }
  .appLeft {
    margin: auto;
  }

  .rankedHeader {
    margin-top: 70px !important;
  }
} */
