/* .welcomeBackgroundContainer {
  background-image: url('https://cdn.wallpapersafari.com/15/63/dEXqI0.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
} */

.welcomeContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: -10px;
}

.welcomeContainer h1 {
  color: #606e83;
  margin: 15px 0;
}

.appLeft {
  flex: 0.1;
}

.appRight {
  flex: 0.77;
}

.appRight h1 {
  text-align: center;
  margin-top: 0;
}

.summonerName {
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #606e83;
  margin: 10px 0;
}

.masteryCardContainer {
  width: 100%;
  color: #f0d287;
  font-weight: bold;
}

.masteryCardContainer h1 {
  margin-bottom: 15px;
}

.masteryCardContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.rankCardContainer {
  color: #f0d287;
  font-weight: bold;
  letter-spacing: 0.4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: -45px;
}

@media (max-width: 1024px) {
  .welcomeContainer {
    flex-direction: column;
  }
  .appLeft {
    margin: auto;
  }
}
